body {
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  padding: 0 55px;
}

header {
  margin-top: 30px;
}

header .navbar {
  padding: 0;
}

header nav .navbar-toggler {
  margin-right: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .navbar-toggler .hamburger-menu-icon {
  position: absolute;
  width: 3%;
  height: 5px;
  background-color: #1c74ef;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .navbar-toggler .hamburger-menu-icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  background-color: #1c74ef;
  border-radius: 3px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .navbar-toggler .hamburger-menu-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  background-color: #1c74ef;
  border-radius: 3px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav .open .hamburger-menu-icon {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  background-color: transparent;
}

header nav .open .hamburger-menu-icon::before {
  -webkit-transform: rotate(45deg) translate(15px, -15px);
          transform: rotate(45deg) translate(15px, -15px);
}

header nav .open .hamburger-menu-icon::after {
  -webkit-transform: rotate(-45deg) translate(15px, 15px);
          transform: rotate(-45deg) translate(15px, 15px);
}

header nav .nav-item {
  padding-left: 20px;
}

header nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #7d7987;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav .nav-item .nav-link:hover {
  color: #4b4b4b;
}

header nav .nav-item .btn {
  padding: 7px 20px;
  background-color: #f04037;
  font-size: 16px;
  border: 1px solid #f04037;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav .nav-item .btn:hover {
  background-color: transparent;
  color: #f04037;
}

#intro .intro-wrapper {
  background-color: #f5f8fa;
  margin-top: 50px;
  border-radius: 20px;
  padding: 130px 80px;
}

#intro .intro-wrapper .intro-content-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intro .intro-wrapper .intro-content-box h5 {
  font-size: 20px;
  font-weight: 600;
  color: #f6624e;
}

#intro .intro-wrapper .intro-content-box h1 {
  font-size: 50px;
  font-weight: 700;
  color: #19191b;
  margin-top: 20px;
}

#intro .intro-wrapper .intro-content-box p {
  font-size: 20px;
  font-weight: 400;
  color: #4b4b4b;
  margin-top: 40px;
}

#intro .intro-wrapper .intro-content-box .btnBox .btn {
  padding: 10px 50px;
  background-color: #1c74ef;
  font-size: 18px;
  border: 1px solid #1c74ef;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 45px;
}

#intro .intro-wrapper .intro-content-box .btnBox .btn:hover {
  background-color: transparent;
  color: #1c74ef;
}

#partners .partner-container {
  margin-top: 50px;
}

#partners .partner-container .partner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#partners .partner-container .partner-item .slack {
  position: relative;
}

#partners .partner-container .partner-item .slack::before {
  content: url("../assets/icons/hovered-slack.svg");
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#partners .partner-container .partner-item .slack:hover::before {
  opacity: 1;
}

#partners .partner-container .partner-item .envanto {
  position: relative;
}

#partners .partner-container .partner-item .envanto::before {
  content: url("../assets/icons/hovered-envanto.svg");
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#partners .partner-container .partner-item .envanto:hover::before {
  opacity: 1;
}

#partners .partner-container .partner-item .micrasoft {
  position: relative;
}

#partners .partner-container .partner-item .micrasoft::before {
  content: url("../assets/icons/hover-micrasoft.svg");
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#partners .partner-container .partner-item .micrasoft:hover::before {
  opacity: 1;
}

#partners .partner-container .partner-item .uber {
  position: relative;
}

#partners .partner-container .partner-item .uber::before {
  content: url("../assets/icons/hover-uber.svg");
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#partners .partner-container .partner-item .uber:hover::before {
  opacity: 1;
}

#services .services-heading {
  margin-top: 120px;
  text-align: center;
}

#services .services-heading h1 {
  position: relative;
  font-size: 35px;
  font-weight: 700;
  color: #000000;
}

#services .services-heading h1::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  border-radius: 5px;
  left: 45%;
  bottom: -40px;
  background-color: #000000;
}

#services .services-heading p {
  font-size: 18px;
  font-weight: 300;
  color: #7d7987;
  margin-top: 60px;
}

#services .services-container {
  margin-top: 75px;
}

#services .services-container .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 10px 10px 40px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 10px 40px rgba(229, 233, 246, 0.4);
  padding: 40px 10px 60px;
  border-radius: 10px;
}

#services .services-container .service-item .iconBox {
  padding: 20px 22px;
  border-radius: 10px;
}

#services .services-container .service-item .search-icon-box {
  background-color: #1c74ef;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 25px 30px rgba(61, 139, 248, 0.15);
          box-shadow: 0px 25px 30px rgba(61, 139, 248, 0.15);
}

#services .services-container .service-item .code-icon-box {
  background-color: #ff4454;
  -webkit-box-shadow: 0px 25px 30px rgba(98, 54, 255, 0.15);
          box-shadow: 0px 25px 30px rgba(98, 54, 255, 0.15);
}

#services .services-container .service-item .statistic-icon-box {
  background-color: #b336ff;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 25px 30px rgba(179, 54, 255, 0.15);
          box-shadow: 0px 25px 30px rgba(179, 54, 255, 0.15);
}

#services .services-container .service-item .contentBox {
  text-align: center;
  margin-top: 40px;
}

#services .services-container .service-item .contentBox h4 {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

#services .services-container .service-item .contentBox p {
  font-size: 16px;
  font-weight: 400;
  color: #7d7987;
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  #intro .intro-wrapper .intro-content-box {
    text-align: center;
  }
  #intro .intro-wrapper .imgBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  header .navbar {
    padding: 0 55px;
  }
  header nav .navbar-toggler .hamburger-menu-icon {
    width: 5%;
  }
  header nav .navbar-collapse {
    text-align: center;
    margin-top: 20px;
  }
  #services .services-container .service-item {
    padding: 40px 10px;
  }
}

@media screen and (max-width: 576px) {
  header nav .navbar-toggler .hamburger-menu-icon {
    width: 8%;
  }
  #intro .intro-wrapper {
    padding: 20px;
  }
  #intro .intro-wrapper .intro-content-box h1 {
    font-size: 40px;
  }
  #intro .intro-wrapper .intro-content-box p {
    font-size: 15px;
  }
  #intro .imgBox img {
    display: none;
  }
  #partners .partner-container .partner-item {
    margin-bottom: 30px;
  }
  #services .services-container .service-item {
    margin-top: 20px;
  }
}
