header {
  margin-top: 30px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 5;
  transition: all 0.5s;
  .navbar {
    padding: 0;
  }
  nav {
    .navbar-toggler {
      margin-right: 20px;
      transition: all 0.5s ease-in-out;
      .hamburger-menu-icon {
        position: absolute;
        width: 3%;
        height: 5px;
        background-color: $primary-color;
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
        &::before {
          @include hambugerMenu(-10px);
        }
        &::after {
          @include hambugerMenu(10px);
        }
      }
    }
    .open {
      .hamburger-menu-icon {
        transform: translateX(-20px);
        background-color: transparent;
        &::before {
          transform: rotate(45deg) translate(15px, -15px);
        }
        &::after {
          transform: rotate(-45deg) translate(15px, 15px);
        }
      }
    }
    .nav-item {
      padding-left: 20px;
      .nav-link {
        @include text(16px, 400, $text-color);
        transition: all 0.5s;
        &:hover {
          color: $second-text-color;
        }
      }
      .btn {
        @include btn(7px 20px, $danger-color, 16px, $danger-color);
        &:hover {
          @include btnHover($danger-color);
        }
      }
    }
  }
}
.sticky {
  padding: 5px 100px;
  background-color: $link-color;
  nav {
    .navbar-toggler {
      .hamburger-menu-icon {
        background-color: $secondary-color;
        &::before {
          background-color: $secondary-color;
        }
        &::after {
          background-color: $secondary-color;
        }
      }
    }
    .open {
      .hamburger-menu-icon {
        background-color: transparent;
      }
    }
    .nav-item {
      .nav-link {
        color: $secondary-color;
      }
    }
  }
}
