@media screen and(max-width: 1024px) {
  #intro {
    .intro-wrapper {
      .intro-content-box {
        text-align: center;
      }
      .imgBox {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
  }
  #family {
    .family-wrapper {
      .contentBox {
        p {
          br {
            display: none;
          }
        }
      }
    }
  }
  #projects {
    .project-slider {
      img {
        padding-left: 10px;
      }
    }
  }
  #comments {
    .comments-wrapper {
      .commentBox {
        .user-info {
          display: block;
        }
      }
    }
  }
}
@media screen and(max-width: 768px) {
  header {
    .navbar {
      padding: 0 55px;
    }
    nav {
      .navbar-toggler {
        .hamburger-menu-icon {
          width: 5%;
        }
      }
      .navbar-collapse {
        text-align: center;
        margin-top: 20px;
      }
    }
  }
  #services {
    .services-container {
      .service-item {
        padding: 40px 10px;
      }
    }
  }
  #family {
    .family-wrapper {
      .contentBox {
        text-align: center;
        padding-left: 0;
        margin-top: 20px;
      }
      .imgBox {
        @include flexy-box();
      }
    }
  }
  #projects {
    .project-slider {
      .slider-item {
        img {
          padding-right: 10px;
        }
      }
    }
  }
  #comments {
    .comments-wrapper {
      .imgBox {
        img {
          margin: auto;
        }
      }
      .commentBox {
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}

@media screen and(max-width: 576px) {
  header {
    nav {
      .navbar-toggler {
        .hamburger-menu-icon {
          width: 8%;
        }
      }
    }
  }
  #intro {
    .intro-wrapper {
      padding: 20px;
      .intro-content-box {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 15px;
        }
      }
    }
    .imgBox {
      img {
        display: none;
      }
    }
  }
  #partners {
    .partner-container {
      .partner-item {
        margin-bottom: 30px;
      }
    }
  }
  #services {
    .services-container {
      .service-item {
        margin-top: 20px;
      }
    }
  }
  #projects {
    .section-heading {
      h1 {
        &::after {
          left: 47%;
        }
      }
    }
  }
  #comments {
    .comments-wrapper {
      padding: 50px 15px;
    }
  }
}
