html {
  scroll-behavior: smooth;
}
body {
  font-family: $main-font-family;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 6px;
  &:hover {
    background: $active-color;
  }
}

.container-fluid {
  padding: 0 55px;
}
