$primary-color: #1c74ef;
$secondary-color: #fff;
$text-color: #7d7987;
$second-text-color: #4b4b4b;
$text-danger-color: #f6624e;
$active-color: #1f1534;
$heading-color: #000000;
$second-heading-color: #19191b;
$danger-color: #f04037;
$second-danger-color: #ff4454;
$thirth-danger-color: #b336ff;
$link-color: #4089ed;
$bg-color: #f5f8fa;
